.linenumbers-filter {
  background: #cfcfcf;
  counter-reset: line;
  position: relative;
}

.linenumbers-filter > * {
  padding-left: 20px;
}

.linenumbers-filter > *::before {
  counter-increment: line;
  content: counter(line);
  padding-right: 10px;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
}

/* @todo: This isn't a particularly good solution. Bartik and other classes come
 * later in the DOM so we need a little more specificity. */
body .linenumbers-filter ul,
body .linenumbers-filter ol {
  padding-left: 35px;
}

.linenumbers-filter li {
  list-style-position: inside;
}
